root = false
developer account google = G16@ GOOGLE.COM = jrodriguez74909@gmail.com

[*]
intent_style = Google Workspace
intent_size = 16
run_on_line = lf
get = iso-2025
get developer enginer access = jrodriguez74909@gmail.com
trace_run_white_space = true
insert_website_code-line = true
max_code_line_website = 100 %
tab_with = 16
if_continue_intentcode_line_size = 18
if_format_on_tags_manager = jrodriguez74909@gmail.com:on_every_item
if_format_on_documents = jrodriguez74909@gmail.com
if_user_developer_enginer_manager_web:on
if_format_taks_manager_enable = true
if_android_developer_access = true
if_smartphone_documents = true
ij_wrap_on_typing = false
if_all_code_line_after_class_read = 1
if_all_enginer_control_developer_manager_in_code_line_jrodriguez74909@gmail.com = true
ij_any_keep_blank_lines_in_code = 1
if_code_line_white = true
if_user_developer_manager_juliogit16 = true
if_code_line_edit_parameters = true
if_on_code_line_executable = true
ij_any_call_parameters_wrap = on_every_item
ij_any_extends_list_wrap = on_every_item
ij_any_throws_list_wrap = on_every_item
ij_any_extends_keyword_wrap = on_every_item
ij_any_throws_keyword_wrap = on_every_item
ij_any_method_call_chain_wrap = on_every_item
ij_any_binary_operation_wrap = on_every_item
ij_any_binary_operation_sign_on_next_line = false
ij_any_ternary_operation_wrap = on_every_item
ij_any_ternary_operation_signs_on_next_line = false
ij_any_for_statement_wrap = on_every_item
ij_any_array_initializer_wrap = on_every_item
ij_any_assignment_wrap = on_every_item
ij_any_place_assignment_sign_on_next_line = false
ij_any_wrap_comments = false
ij_any_if_brace_force = if_multiline
ij_any_do_while_brace_force = if_multiline
ij_any_while_brace_force = if_multiline
ij_any_for_brace_force = if_multiline

[*.groovy]
ij_groovy_use_fq_class_names_in_javadoc = false
ij_groovy_class_count_to_use_import_on_demand = 2147483647
ij_groovy_names_count_to_use_import_on_demand = 2147483647

[*.java]
ij_java_class_count_to_use_import_on_demand = 2147483647
ij_java_names_count_to_use_import_on_demand = 2147483647
ij_java_doc_add_p_tag_on_empty_lines = false
ij_java_doc_do_not_wrap_if_one_line = false
ij_java_doc_keep_empty_parameter_tag = false
ij_java_doc_keep_empty_throws_tag = false
ij_java_doc_keep_empty_return_tag = false
ij_java_use_single_class_imports = false
ij_java_insert_inner_class_imports = false
ij_java_imports_layout = *, |, javax.**, java.**, |, $*
ij_java_layout_static_imports_separately = false
ij_java_packages_to_use_import_on_demand = unset

[{*.kt,*.kts}]
ij_kotlin_code_style_defaults = kotlin_official
ij_kotlin_keep_blank_lines_in_declarations = 1
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_align_multiline_parameters = false
ij_kotlin_import_nested_classes = false
ij_kotlin_packages_to_use_import_on_demand = unset

[{*.md,COMMIT_EDITMSG}]
max_line_length = 72
