*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/deploymentTargetDropDown.xml
/.idea/kotlinc.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
