# The source of truth for these values are in tools/buildSrc/base
# Consistency is maintained via tests

baseVersion = {BASE_VERSION}
buildVersion = {BUILD_VERSION}
cmdlineToolsVersion = 10.0-dev
apiVersion = 3
nativeApiVersion = 0
