# The source of truth for these values are in tools/buildSrc/base
# Consistency is maintained via tests

baseVersion = 31.0.0
buildVersion = 8.0.0
cmdlineToolsVersion = 10.0
apiVersion = 3
nativeApiVersion = 0
